.bottom-section {
  display: flex;
  flex-direction: column;

  padding: 0.5em;
  background-color: #e7f3fb;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  margin-top: 1em;
}

.bottom-section .d-flex {
  align-items: flex-start;
  padding-top: 0.5em;
}

.logo-container,
.title-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.logo-container {
  flex: 0;
  display: flex;
  align-items: center;
  padding: 0%;
}

.logo {
  width: 4em;
}

.title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0.2em;
}

.title {
  color: #333;
  font-weight: 600;
  margin: 0;
  font-size: 0.93em;
  text-align: left;
}

.subtitle {
  color: #333;
  font-size: 0.8em;
}

.bottom-section .bullet-points {
  list-style-type: none;
}

.bullet-points {
  display: flex;
  flex-direction: column;
  grid-template-columns: auto 1fr;
  grid-gap: 0em;
  align-items: flex-start;
  flex: 1;
  margin-left: 0;
  color: #334754;
  font-size: 0.7em;
  list-style-type: none;
  padding-left: 0;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  margin-top: -1em;
  padding: 0;
}

.bullet-points .d-flex {
  align-items: center;
  margin-bottom: 0.5em;
}

#bullet-icon {
  color: #1e95b6;
  font-size: 1.4rem;
  padding: 0;
  margin-right: 0.25em;
  margin-left: 0.1em;
}

.get-the-app-button {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
