html {
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    45deg,
    #28414e,
    #472933
  ); /* Change #333 and #666 to your desired gradient colors */

  overflow: hidden;
  z-index: 1;
}

/* @media screen and (max-width: 480px) {
  html {
    background: transparent;
  }
} */

body {
  font-family: "Poppins", sans-serif;
  /* display: flex; */
  align-items: center;
  justify-content: center;

  /* background-image: url("/assets/doctor-bg@1x.472479ac.png");
  background-repeat: no-repeat;
  background-size: cover; */
}
/* body {
  background-image: url("/assets/doctor-bg@1x.472479ac.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
/* } */
