html,
body,
.know-more,
.content-wrapper,
.app-consult-button {
  box-sizing: border-box;
}

.app-know-more-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.know-more {
  overflow-y: auto;
  width: 100%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 100vh;
  min-width: 100%;
}

.content-wrapper {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

.content-wrapper.doctor-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 76px;
}

.info-container {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

.app-consult-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

@media (max-width: 600px) {
  .know-more {
    padding-bottom: 7em;
  }

  .app-consult-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
