<app-know-more-navbar></app-know-more-navbar>
<div class="know-more flex">
  <div class="content-wrapper doctor-details">
    <app-doctor-details
      (moreInfoClicked)="toggleMoreInfo()"
    ></app-doctor-details>

    <div class="info-container">
      <app-how-it-works *ngIf="howItWorksEnabled"></app-how-it-works>
      <app-more-info
        *ngIf="!howItWorksEnabled && doctor"
        [doctor]="doctor"
      ></app-more-info>
    </div>

    <app-consult-button [doctor]="doctor"></app-consult-button>
  </div>
</div>
