.records-title {
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0.5em 1em;
  display: block;
}

.my-consultations {
  background-color: rgb(242, 242, 242);
  height: 60px;
  transition: all 0.5s ease-in-out; /* Define transition here */
}

.my-consultations:hover {
  background: rgb(229, 229, 229);
}

.cardiology-icon {
  margin-left: 0.3em;
  color: dimgray;
}

/* You can style the text next to the icon if needed */
.side-menu span {
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 85%; /* or whatever width you want */
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 1100; /* to ensure it appears on top */
  padding: 20px;
}

.side-menu h2 {
  text-align: center;
  margin-bottom: 20px;
}

.side-menu ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.middle-section {
  flex-grow: 1; /* This ensures the middle section expands to fill available space */
  display: flex;
  flex-direction: column;
  height: 40%;
  align-items: center; /* Center items horizontally */
  justify-content: flex-end; /* Push content to the bottom */
  padding-bottom: 4em; /* Add some padding at the bottom */
  padding-top: 85%;
}

.middle-section,
.bottom-section {
  flex: 1; /* Expand to fill available space */
  display: flex; /* Use flexbox to control layout */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Vertically center items */
}

.login-button {
  margin: 0 auto;
  background-color: #fff;
  width: 60%;
  padding: 0.65em 1em;
  /* margin: 0.5em; */
  border: 1px solid #1e95b6;
  border-radius: 0.75em;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  align-self: center; /* Center button horizontally */
  font-size: 1em;
  font-weight: 500;
  color: #1e95b6;
  text-align: center;
  cursor: pointer;
  background-position: 50%;
  will-change: background-color, background-size;
  transition: background-color 0.5s, background-size 0.5s;
}

.login-button:hover {
  background: #fff radial-gradient(circle, transparent 1%, #f5f5f5 0) 50%/20000%;
}

.side-menu .close-button {
  margin-left: 0;
  margin-right: 0.7rem;
  margin-top: 0.5rem;
  width: 2em;
  height: 2em;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0.4em 2px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  background-position: 50% center;
  will-change: background-color, background-size;
  transition: background-color 0.5s ease 0s, background-size 0.5s ease 0s;
}

.blue-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1e95b6;
  height: 76px;
  width: 100%;
}

.side-menu .blue-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1e95b6;
  height: 76px;
  width: 100%;
}

.side-menu,
.side-menu .blue-line {
  margin: 0;
  padding: 0;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  height: 30%; /* 30% of the modal's height */
  padding: 0.5em;
  background-color: #e7f3fb;
  align-items: center; /* Vertically align items in the center */
  flex-grow: 1; /* Allow it to grow more than other sections */
  justify-content: flex-end; /* This ensures that children align to the start/left */
  margin-top: 1em; /* Adjust the top margin to control spacing */
}

.bottom-section .d-flex {
  align-items: flex-start;
  padding-top: 0.5em;
}

.logo-container,
.title-container {
  display: flex; /* Use flexbox to control layout */
  align-items: center; /* Vertically center items */
  flex-direction: row; /* Make them row-direction */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
}

.logo-container {
  flex: 0;
  display: flex;
  align-items: center;
  padding: 0%;
}

.logo {
  width: 4em;
}

.title-container {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack title and subtitle vertically */
  justify-content: flex-start; /* Start alignment on the vertical axis */
  align-items: flex-start; /* Vertically centering title and subtitle */
  /* padding-left: 0.2em; */
  margin-left: 0.2em; /* Add some space between logo and title */
}

.title {
  color: #333;
  font-weight: 600;
  margin: 0;
  font-size: 0.93em;
  text-align: left;
}

.subtitle {
  color: #333;
  font-size: 0.8em;
}

.side-menu .bottom-section .bullet-points {
  list-style-type: none;
}

.bullet-points {
  display: grid;
  grid-template-columns: auto 1fr; /* Icon takes up auto width, text takes up remaining space */
  grid-gap: 0em; /* Adjust the vertical spacing between bullet points */
  align-items: flex-start;
  flex: 1; /* Allow it to grow and take up remaining space */
  margin-left: 0; /* Adjust the space for the bullet points */
  color: #334754;
  font-size: 0.7em;
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove padding */
  position: relative; /* Change to relative positioning */
  top: 0; /* Reset top */
  left: 0; /* Reset left */
  margin: 0; /* Remove any margin */
  margin-top: -1em;
  padding: 0; /* Remove any padding */
}

#bullet-icon {
  color: #1e95b6; /* Color of the checkmark */
  font-size: 1.4rem;
  padding: 0; /* Remove padding around the icon */
}

.get-the-app-button {
  position: absolute;
  bottom: 1em; /* Adjust as needed */
  right: 1em; /* Adjust as needed */
}
