<div
  [@slideIn]="isExiting ? 'void' : '*'"
  class="side-menu"
  (@slideIn.done)="animationDone($event)"
>
  <div class="blue-line">
    <div class="close-button" (click)="onClose()">
      <i class="material-icons">close</i>
    </div>
  </div>
  <div class="records-title d-flex align-items-center">Records</div>
  <div class="d-flex align-items-center my-3 my-consultations">
    <span class="material-symbols-outlined cardiology-icon"> cardiology </span>
    <span>My Consultations</span>
  </div>

  <div class="middle-section d-flex flex-column justify-content-between">
    <div></div>

    <button class="login-button">Login</button>
  </div>
  <app-modal-bottom-section></app-modal-bottom-section>
</div>
