.records-title {
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0.5em 1em;
  display: block;
}

.my-consultations {
  background-color: rgb(242, 242, 242);
  height: 60px;
  transition: all 0.5s ease-in-out;
}

.my-consultations:hover {
  background: rgb(229, 229, 229);
}

.cardiology-icon {
  margin-left: 0.3em;
  color: dimgray;
}

.side-menu span {
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 1100;
  padding: 20px;
}

.side-menu h2 {
  text-align: center;
  margin-bottom: 20px;
}

.side-menu ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.middle-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2%;
  padding-top: 50%;
}

.middle-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  margin: 0 auto;
  background-color: #fff;
  width: 60%;
  padding: 0.65em 1em;
  border: 1px solid #1e95b6;
  border-radius: 0.75em;

  align-self: center;
  font-size: 1em;
  font-weight: 500;
  color: #1e95b6;
  text-align: center;
  cursor: pointer;
  background-position: 50%;
  will-change: background-color, background-size;
  transition: background-color 0.5s, background-size 0.5s;
}

.login-button:hover {
  background: #fff radial-gradient(circle, transparent 1%, #f5f5f5 0) 50%/20000%;
}

.side-menu .close-button {
  margin-left: 0;
  margin-right: 0.7rem;
  margin-top: 0.5rem;
  width: 2em;
  height: 2em;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0.4em 2px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  background-position: 50% center;
  will-change: background-color, background-size;
  transition: background-color 0.5s ease 0s, background-size 0.5s ease 0s;
}

.blue-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1e95b6;
  height: 76px;
  width: 100%;
}

.side-menu .blue-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1e95b6;
  height: 76px;
  width: 100%;
}

.side-menu,
.side-menu .blue-line {
  margin: 0;
  padding: 0;
}
