<div
  [@slideIn]="isExiting ? 'void' : '*'"
  class="side-menu"
  (@slideIn.done)="animationDone($event)"
>
  <div class="blue-line">
    <div class="close-button" (click)="onClose()">
      <i class="material-icons">close</i>
    </div>
  </div>
  <div class="records-title d-flex align-items-center">Records</div>
  <div class="d-flex align-items-center my-3 my-consultations">
    <!-- Icon -->
    <span class="material-symbols-outlined cardiology-icon"> cardiology </span>
    <!-- Text -->
    <span>My Consultations</span>
  </div>

  <div class="middle-section d-flex flex-column justify-content-between">
    <div></div>
    <!-- This will take up the 50% vertical space -->

    <!-- Your button goes here, it will be vertically centered -->
    <button class="login-button">Login</button>

    <div></div>
    <!-- This will take up the remaining space before the hamburger -->
  </div>

  <div class="bottom-section d-flex flex-column position-relative">
    <!-- Logo and Title/Subtitle Row -->
    <div class="d-flex">
      <!-- Logo -->
      <div class="logo-container">
        <img src="/assets/doCnct-logo.png" alt="Logo" class="logo" />
      </div>

      <!-- Title and Subtitle -->
      <div class="title-container">
        <p class="title">Europe's leading healthcare app</p>
        <p class="subtitle">Consult the best doctors from trusted hospitals</p>
      </div>
    </div>

    <!-- Bullet Points -->
    <div class="bullet-points">
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <span class="material-symbols-outlined" id="bullet-icon"> done </span>
      </div>
      <!-- Text -->
      <span>Earn doCnct coins when consulting via the app</span>

      <div class="d-flex align-items-center">
        <!-- Icon -->
        <span class="material-symbols-outlined" id="bullet-icon"> done </span>
      </div>
      <!-- Text -->
      <span>High-Quality video consultations and personalised experience</span>

      <div class="d-flex align-items-center">
        <!-- Icon -->
        <span class="material-symbols-outlined" id="bullet-icon"> done </span>
      </div>
      <!-- Text -->
      <span>Quick payment procedure and faster performance</span>
    </div>

    <app-get-the-app-button></app-get-the-app-button>
  </div>
</div>
