.button-block {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0.5em;

  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  height: 7em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.consult-now-button {
  flex: 1;
  display: flex;
  white-space: nowrap;
  height: 6vh;
  width: 25vh;
  justify-content: center;
  color: #fff;
  background: #ff6950;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1em;
  border-radius: 0.75em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-position: 50%;
  will-change: background-color, background-size;
  transition: background-color 0.5s, background-size 0.5s;
  background-color: #ff6950;
}
